@import '../base/_colors';

.pink {
	background-color: @pink !important;
}

.blue {
	background-color: @blue !important;
}

.white {
	background-color: @white !important;
}

.grey {
	background-color: @grey !important;
}

.light-grey {
	background-color: @light-grey !important;
}