// don't forget to delete
@import '../base/_colors';
@import '../utils/_breakpoints';
@import '../utils/_keyframes';
@import '../utils/_mixins';
// don't forget to delete

html {
	@media (max-width: @screen-tablet) {
		font-size: 8px;
	}
}

// Header
header {
	position: relative;
	overflow: hidden;
	text-align: center;
	.x-rem(padding-top, 3, 10);
	.x-rem(padding-bottom, 12, 10);
	&:before, &:after {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
	&:before {
		z-index: 1;
		background: @header-gradient1;
	}
	&:after {
		z-index: 3;
		background: @header-gradient2;
	}
}

.content-header {
	position: relative;
	z-index: 4;
}

figure {
	position: relative;
	max-width: 332px;
	margin: 0 auto; 
	opacity: 0;
	transform: rotate(9deg);
	animation-name: fadeIn, logoRotate;
	animation-delay: 0s, 1s;
	animation-duration: 1s, 0.5s;
	animation-timing-function: easeOut, easeOut;
	animation-fill-mode: forwards, forwards;
	> img {
		max-width: 100%;
		left: -60px;
	}
}

h1 {
	> span { color: @pink; }
	opacity: 0;
	animation-name: rightSide;
	animation-delay: 1s;
	animation-duration: 0.5s;
	animation-timing-function: easeOut;
	animation-fill-mode: forwards;
	&:after {
		content: "1.0";
		color: @grey-version;
		.x-rem(margin-left, 1, 10);
		.x-rem(font-size, 2.4, 10);
	}
}

.start-playing {
	.x-rem(margin-top, 6, 10);
	opacity: 0;
	animation-name: leftSide;
	animation-delay: 1s;
	animation-duration: 0.5s;
	animation-timing-function: easeOut;
	animation-fill-mode: forwards;
}

.animation-elt {
	z-index: 2;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 50%;
	margin: auto;
	margin-left: -500px;
	width: 1000px;
	height: 1000px;
	border-radius: 50%;
	border: 1px solid rgba(0, 0, 0, 0.03);
	background-color: rgba(0, 0, 0, 0.03);
	opacity: 0;
	animation-name: circle;
	animation-duration: 15s;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	&:first-of-type {
		animation-delay: .66s;
	}
	&:nth-of-type(2) {
		animation-delay: 5s;
	}
	&:last-of-type {
		animation-delay: 10s;
	}
}


// Grid section
.grid {
	position: relative;
	border-top: 1px solid rgba(0, 0, 0, .06);
}

.box {
	position: relative;
	display: block;
	width: 8.333%;
	float: left;
	padding-top: 8.4%;
	&:nth-child(odd) {
		background-color: #4cd964;
	}
	&:nth-child(even) {
		background-color: #3dcf55;
	}
	&:before {
		content: "";
		opacity: 0;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
}

.video {
	position: absolute;
	padding-bottom: 48.25%;
	height: 0;
	overflow: hidden;
	top: 0;
	left: 10%;
	right: 10%;
	bottom: 0;
	margin: auto;
}

iframe {
	position: absolute;
	top: 0;
	border: none;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 5px;
}

// Footer 

footer {
	text-align: center;
	background: url('../../images/medal.png') no-repeat center 0 @footer-bg;
	p {
		color: @light-text;
		.x-rem(font-size, 3.2, 10);
		.x-rem(line-height, 5.2, 10);
		> span {
			color: @pink;
		}
	}
}

.footer-title {
	width: 50%;
	margin: auto;
	.x-rem(padding-top, 4, 10);
	.x-rem(padding-bottom, 4, 10);
	border-bottom: 1px solid @light-border;
	@media (max-width: @screen-tablet) {
		width: 70%;
	}
	@media (max-width: @screen-mobile) {
		width: 90%;
	}
	> h2 {
		color: @subtitle;
	}
}

.names {
	.x-rem(margin-top, 10, 10);
	.x-rem(margin-bottom, 4, 10);
	> p {
		color: #fff;
	}
}

.last-sentence {
	.x-rem(margin-top, 6, 10);
	.x-rem(margin-bottom, 10, 10);
	> p {
		> span {
			color: #fff;
		}
	}
}