// don't forget to delete
@import '../base/_colors';
@import '../utils/_breakpoints';
@import '../utils/_keyframes';
@import '../utils/_mixins';
// don't forget to delete

html {
	@media (max-width: @screen-tablet) {
		font-size: 8px;
	}
}

// Header
header {
	position: relative;
	overflow: hidden;
	text-align: center;
	box-sizing: border-box;
    height: auto;
    height: 100vh;
    min-height: 600px;
    @media (max-width: @screen-tablet) {
		min-height: 560px;
	}
	.x-rem(padding-top, 3, 10);
	.x-rem(padding-bottom, 12, 10);
	&:before, &:after {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
	&:before {
		z-index: 1;
		background: @header-gradient1;
	}
	&:after {
		z-index: 3;
		background: @header-gradient2;
	}
}

.content-header {
	position: absolute;
	right: 0;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
	z-index: 4;
}

figure {
	position: relative;
	max-width: 332px;
	margin: 0 auto; 
	opacity: 0;
	transform: rotate(9deg);
	animation-name: fadeIn, logoRotate;
	animation-delay: 0s, 1s;
	animation-duration: 1s, 0.5s;
	animation-timing-function: easeOut, easeOut;
	animation-fill-mode: forwards, forwards;
	> img {
		position: relative;
		max-width: 100%;
		left: -10px;
	}
}

h1 {
	> span { color: @pink; }
	opacity: 0;
	animation-name: rightSide;
	animation-delay: 1s;
	animation-duration: 0.5s;
	animation-timing-function: easeOut;
	animation-fill-mode: forwards;
	&:after {
		content: "1.0";
		color: @grey-version;
		.x-rem(margin-left, 1, 10);
		.x-rem(font-size, 2.4, 10);
	}
}

.start-playing {
	.x-rem(margin-top, 6, 10);
	opacity: 0;
	animation-name: leftSide;
	animation-delay: 1s;
	animation-duration: 0.5s;
	animation-timing-function: easeOut;
	animation-fill-mode: forwards;
}

.animation-elt {
	z-index: 2;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 50%;
	margin: auto;
	margin-left: -500px;
	width: 1000px;
	height: 1000px;
	border-radius: 50%;
	border: 1px solid rgba(0, 0, 0, 0.04);
	background-color: rgba(0, 0, 0, 0.04);
	opacity: 0;
	animation-name: circle;
	animation-duration: 15s;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	&:first-of-type {
		animation-delay: -10s;
	}
	&:nth-of-type(2) {
		animation-delay: -5s;
	}
	&:last-of-type {
		animation-delay: 0s;
	}
}


// Grid section
.grid {
	position: relative;
	border-top: 1px solid rgba(0, 0, 0, .06);
}

.grid {
	height: 100vh;
}

.content-boxes {
	position: absolute;
	top: 50%;
	width: 100%;
	transform: translateY(-50%) scale(2);
	@media (max-width: @screen-tablet) {
		transform: translateY(-50%) scale(2.5);
	}
	@media (max-width: @screen-mobile) {
		transform: translateY(-50%) scale(5);
	}
}

.box {
	position: relative;
	display: block;
	width: 8.333%;
	float: left;
	padding-top: 8.4%;
	&:nth-child(odd) {
		background-color: #4cd964;
	}
	&:nth-child(even) {
		background-color: #3dcf55;
	}
	&:before {
		content: "";
		opacity: 0;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
}

.video {
	position: absolute;
	padding-bottom: 48.25%;
	height: 0;
	overflow: hidden;
	top: 0;
	left: 10%;
	right: 10%;
	bottom: 0;
	margin: auto;
}

.content-video {
	position: absolute;
	top: 10%;
	bottom: 10%;
	width: 100%;
}

iframe {
	position: absolute;
	top: 0;
	border: none;
	border-top-color: 10px transparent; 
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 5px;
}

// Footer 

footer {
	text-align: center;
	background: url('../../images/medal.png') no-repeat center 0 @footer-bg;
	box-sizing: border-box;
    min-height: 560px;
    position: relative;
    height: auto;
    height: 100vh;
	p {
		color: @light-text;
		.x-rem(font-size, 2.8, 10);
		.x-rem(line-height, 5.2, 10);
		> span {
			color: @pink;
		}
	}
}

.footer-title {
	width: 50%;
	margin: auto;
	.x-rem(padding-top, 4, 10);
	.x-rem(height, 9.1, 10);
	border-bottom: 1px solid @light-border;
	@media (max-width: @screen-tablet) {
		width: 70%;
	}
	@media (max-width: @screen-mobile) {
		width: 90%;
	}
	> h2 {
		color: @subtitle;
	}
}

.wrap-footer {
	position: absolute;
	top: 13.2rem;
	bottom: 0;
	left: 0;
	right: 0;
}

.content-footer {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	transform: translateY(-50%);
}

.names {
	.x-rem(margin-bottom, 4, 10);
	> p {
		color: #fff;
	}
}

.last-sentence {
	.x-rem(margin-top, 6, 10);
	> p {
		> span {
			color: #fff;
		}
	}
}