@import '../base/_colors';
@import '../utils/_mixins';

.start-playing {
	.x-rem(padding-top, 2, 10);
	.x-rem(padding-right, 5, 10);
	.x-rem(padding-bottom, 2, 10);
	.x-rem(padding-left, 12, 10);
	position: relative;
	display: inline-block;
	.x-rem(font-size, 3.2, 10);
	text-decoration: none;
	background: rgba(255, 255, 255, 0.2);
	border: 1px solid rgba(0, 0, 0, .1);
	border-radius: 8px;
	color: @blue;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, .02);
	transition: box-shadow ease .4s, border-color ease .4s, background ease .4s;
	&:hover {
		box-shadow: 0px 8px 30px rgba(0, 122, 255, .06), 0px 4px 4px rgba(0, 0, 0, .04);
		border-color: rgba(0, 0, 0, .14);
		background: rgba(255, 255, 255, 1.0);
		transition: box-shadow ease .4s, border-color ease .4s, background ease .4s;
	}
	&:before {
		content: "";
		background: url("../../images/appstore-icon.png") no-repeat center;
		background-size: contain;
		.x-rem(width, 6.4, 10);
		.x-rem(height, 6.4, 10);
		.x-rem(left, 3, 10);
		top: 0;
		bottom: 0;
		margin: auto;
		position: absolute;
	}
}